html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

/*Adding the background image in the body*/
body::before {
    content: "";    
    background-image: url("../images/bg6.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;
    position:fixed;
    z-index: -1;
    opacity: .48; 
}

/*Adjust the margin of the body*/
body {
    margin: 0 auto;
}

/*Set the width and adjust the margin of the navigation links and the footer*/
header, nav, footer {
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    text-align: center;
    margin-top: 2%;
}

/*Adding style to the header element*/
header > h1 {
    margin: 0 auto;
    font-size: 50pt;
    font: 70pt 'Great Vibes', Helvetica, sans-serif;
    color: #000;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(145, 86, 44), 0 0 20px rgb(145, 86, 44), 0 0 25px rgb(145, 86, 44), 0 0 30px rgb(145, 86, 44), 0 0 35px rgb(145, 86, 44);

}

/* navigation within header */
header > nav {
    width: 100%;
    
}

/*Removing the list style of the navigational elements*/
header > nav > ul, main  nav > ul {
    list-style: none;
}

/*Displaying the header elements in inline*/
header > nav > ul > li {
    display: inline;
}

/*Adding style to the links */
header > nav > ul > li > a {
    padding: 10px;
    background-color: #2c2e33;
    border: none;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;    
}

/*Changing the background colour in the navigation bar*/
header > nav > ul > li > a:hover, #dropdown > p:hover, header > nav > ul > li > a:focus, #dropdown > p:focus {
    background-color: #fff;
    color: #000;
}

/*Adding style to the active element*/
header > nav > ul > li > #active{
    background-color: rgb(145, 86, 44);;
    color: #fff;
}

/*Adding style to the drop down list*/
#dropdown {
    display: inline-block;
    position: relative;
    margin-left: 46.78%;
}

/*Set style to the drop-down element*/
#dropdown1 {
    display: none;
    position: absolute;
    background-color: #2c2e33;   
    min-width: 12em;   
}

/*Set style to the drop-down element*/
#dropdown1 > ul  {
    padding-inline-start: 0%;
    margin-top: 0 ;
}

/*Adding hovering effect and displaying the list*/
#dropdown:hover #dropdown1, #dropdown:focus #dropdown1 {
    display: block;
}

/*Set style to the drop-down links*/
#dropdown1 > ul > li > a {
    text-decoration: none;
    color:  #fff;
}

/*Set style to the drop-down lists*/
#dropdown1 > ul > li {
    padding: 10px 16px;
}

/*Changing the background colour of the items in the lists when hovered*/
#dropdown1 > ul > li:hover, #dropdown1 > ul > li:focus {
    background-color: rgb(114, 110, 110);
    
}

/*Setting the height of the dropdown*/
#dropdown1 {
    height: 7.89em;
}

/*Adding style to the dropdown element*/
#dropdown > p {
    background-color: white;
    color: #000;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder; 
    border: none; 
    padding: 15px;
    font-size: 1.89em;
}

/*Adding style to Div*/
#myDiv {
    background-image: url('../images/3-Big-bus.jpg');
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 90%;
    margin: 20px auto;
    height: 50em;
    margin-top: 50px;
    opacity: .91;
    background-size: cover;
    background-position: center;
}

/*Adding style to the survey button*/
#survey {
    margin-left: 41.89%;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    font-family: cursive;
    font-size: medium;
}

/*Adding style to the form*/
#form {
    background-color: white;
    width: 44%;
    margin-left: 41.89%;
    font-family: cursive;
}

/*Adding style to the name and email of the form*/
#name, #email {
    margin: 8px;
}

/*Adding style to the span*/
span {
    color: red
}

/*Adding style to submit */
#submit {
    background-color: rgb(59, 59, 172);
    color: white;
    margin-top: 12px;
}

/*Adding styles to the footer */
footer {
    position: relative;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
}

/*For responsive pages*/
@media only screen and (max-width: 1500px) {
    header h1 {
        font-size: 40pt;
    }

    header > nav > ul >li {
        font-size: 85%;
        display: inline-flex;
        flex-wrap: wrap;
        padding: 1px;
    }

    #dropdown > p {
        font-size: 90%; 
        font-weight: bolder;  
    }

    #dropdown {
        margin-left: 110.78px;
    }
    #dropdown1 > ul > li {
        padding: 10px 10px;    
    }

    #survey, #form {
        margin-left: 37px;
        font-size: small;
    }

    #name, #email {
        width: 150px;
    } 

    #form {
        width: 20em;
    }
}