html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}

body::before {
    content: "";
    /*background: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(0, 255, 255, 0.3)), url("../images/bg-ocean.jpg");*/
    /* background-image: url("./Images/image.jpg"); */
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./Images/1b06721be7fd03e8c8174318ef615ba4.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: -100px;
    right: 0;
    position:fixed;
    z-index: -1;
}

body {
    margin: 0 auto;
    background-color:#fff1de;
}

header, nav, footer {
    /*border: red 1px solid;*/
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    text-align: center;
    margin-top: 2%;
}

header > h1 {
    margin: 0 auto;
    font-size: 50pt;
    font: 70pt 'Great Vibes', Helvetica, sans-serif;
    color: #000;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(145, 86, 44), 0 0 20px rgb(145, 86, 44), 0 0 25px rgb(145, 86, 44), 0 0 30px rgb(145, 86, 44), 0 0 35px rgb(145, 86, 44);

}

/* navigation within header */
header > nav  {
    width: 100%;
    
}

header > nav > ul {
    list-style: none;
}

header > nav > ul > li {
    display: inline;
    padding: 5x;

}

header > nav > ul > li > a {
    /*font-family: cursive;*/
    padding: 10px;
    background-color: #2c2e33;
    border: none;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

header > nav > ul > li > a:hover {
    
    background-color: #fff;
    color: #000;
}

header > nav > ul > li > #active{
    background-color: rgb(145, 86, 44);;
    color: #fff;
}

/* main content */
main {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.27244401178440125) 29%, rgba(255,255,255,0.5441526952577906) 100%);
    
    border-radius: 10px;
    margin: 20px auto;
    width: 96%;
    text-align: center;

}

main > select {
    margin: 20px 0 20px 0;
}

main > p {
    margin: 0 auto;
    padding: 20px 0 20px 0 ;
    width: 90%;

}

button
{
    font: 70pt 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


  h2{
    text-align: left ;
    font-style:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

footer {
    position: relative;
    text-align: center;
    margin-top: 35%;
}
 nav ul {
    display: flex;
    height: 79px;
    flex-wrap: wrap;

}
nav ul li{
    padding:5px;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
  
  .card {
    margin: 50px 50px 50px 80px;

    width: 450px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.253), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  footer img{
    height: 80px;
  }
    footer {
      margin-top: 0px;
    }
    
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */