/* Stylesheet for city page */

/* main content css */
.feature_container_nav {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /*grid-gap: 5px;*/

    justify-items: center;
    margin: 0 auto;
    
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

.feature_nav {
    border: 5px #1f1f1f solid;
    background-color: #8c9daf;
    color: #1f1f1f;
}

.feature_nav:hover {
    background-color: #365f71;
    color: #fff;
}

.feature_container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    text-align: justify;
    padding: 10px 10px 30px 10px;
    
    
}

.feature_desc > p {
    text-indent: 5%;
    line-height: 1.6;
}


.feature_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_img > img {
    max-width: 85%;
    min-width: 250px;
    height: auto;

}

/* hide content 
h2, h3, .feature_container {
    display:none;
}*/

main > p {
    width: 50%;
}

/* css for button to scroll to top */
.top {
    background-color: #DCDCCF;
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right:0;
    bottom:0;
    color:#000;
    text-decoration: none;
}


/* media only screen */
/* anything under the size of a tablet and under, use this */
@media only screen and (max-width: 1400px){

    .feature_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
        
    }

    .feature_desc {
        order:1;
    }

    .feature_container_nav {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
        padding: 20px 10px 10px 10px;

    }

}