/* Stylesheet for home (index) page */

/* main content css */
#banner_desk {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.feature > p {
    width: 300px;
}

/* used for about content */
.feature_icon {
    width: 250px;
    height: 250px;
    border-top: 10px solid #1f1f1f;
    border-left: 5px solid #1f1f1f;
    border-right: 5px solid #1f1f1f;
    border-bottom: 50px solid #1f1f1f;
}

/* used for sneak peak */
.feature_icon2 {
    width: 50px;
    height: 50px;
    padding: 0 20px 0 20px;
}

.feature_container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    margin: 0 auto;
    
    
}

/* css for button to scroll to top */
.top {
    background-color: #DCDCCF;
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: fixed;
    right:0;
    bottom:0;
    color:#000;
    text-decoration: none;
}

/* preloader */
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../../images/christine/preloader.gif');
    background-repeat: no-repeat; 
    background-color: #f7fffd;
    background-position: center;
 }

/* media only screen */
/* anything under the size of a tablet and under, use this */
@media only screen and (max-width: 1400px){

    .feature_container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;

        justify-content: center;
        margin: 0 auto;
        
    }

}