/* General stylesheet for mobile
Page specific will be on their own stylesheet
*/

#menuToggle, .menu-icon {
    display: none;
}

/* media only screen */
/* anything under the size of a tablet and under, use this */
@media only screen and (max-width: 1400px){

    html {
        min-width: 360px;
    }

    header > h1 {
        font-size: 25pt;
        float:left;

    }

    header > nav > ul > li > a {
        display:block;
    
    }

    img {
        width: 50%;
    }

    main > p {
        width: 60%;
    }

    #menuToggle:checked ~ ul {
        max-height: 100%;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon > .bar {
        font-size: 1.7em;
        color: #fff;
        text-align: right;
        display: block;
    }

    #nav_menu {
        width: 100%;
    
    }

    #nav_menu > ul {
        overflow: hidden;
        max-height: 0;

    }

    
}